*,*::before,*::after {
    box-sizing: border-box;
}

$green-primary: hsl(154, 59%, 51%);
$red-primary: hsl(0, 100%, 74%);
$blue-accent: hsl(248, 32%, 49%);
$darkBlue-neutral: hsl(249, 10%, 26%);
$grayishBlue-neutral: hsl(246, 25%, 77%);
$font-f: 'Poppins', sans-serif;
$fz-body: 16px;

@import 'button';

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: $font-f;
    font-size: 16px;
    background: $red-primary url(../images/bg-intro-mobile.png);
    display: flex;
    flex-direction: column;
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 950px) {
        flex-direction: row;
        justify-content: center;
    }
}
.section-one {
    width: 85%;
    margin-bottom: 3rem;
    text-align: center;
    color: #fff;

    &__title {
        font-size: 1.7rem;

        @media (min-width: 950px) {
            font-size: 3rem;
            line-height: 1.1;
        }
    }
    &__paragraph {
        @media (min-width: 950px) {
            font-weight: 500;
        }
    }

    @media (min-width: 950px) {
        max-width: 40%; // Test
        padding: 1.1rem;
        text-align: left;
    }
}

.section-two {
    width: 90%;

    .form {
        padding: 1.5rem;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 8px rgba(0, 0, 0, .15);

        &__input {
            width: 100%;
            border: 1px solid lightgray;
            padding: 1rem;
            border-radius: 4px;
            font-size: 14px;
            font-family: inherit;
            font-weight: 600;
            margin-bottom: 1rem;

            &:focus {
                border-color: #000;
            }

            @media (min-width: 950px) {
                padding: 1rem 2rem;
            }
        }

        &__terms {
            font-size: 11px;
            font-weight: 600;
            color: $grayishBlue-neutral;
            text-align: center;
        }

        &__span {
            color: $red-primary;
        }

        @media (min-width: 950px) {
            padding: 2.5rem;
        }
    }

    @media (min-width: 950px) {
        max-width: 40%;
        padding: 1.1rem;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}